django
pandas      <-  pip install pandas
csv         <-  import csv
datetime    <-  from datetime import datetime
matplotlib  <-  pip install matplotlib
seaborn     <-  pip install seaborn
BytesIO     <-  from io import BytesIO
base64      <-  import base64
HttpResponse    <-- from django.http import HttpResponse

tools       <-  pip install tools