{% extends 'main/base.html' %}

{% block content %}
    <p>
    <h3>
        Great78
    <!--    <form method="post" action="/list/">　 -->
        <p>
        <form method="post" action="{% url 'Q1' %}">

            {% csrf_token %}

            <button type="submit", name="Q1", value="Q1">Q1</button>

        </form>

        <form method="post" action="{% url 'Q2' %}">

            {% csrf_token %}

            <button type="submit", name="Q2", value="Q2">Q2</button>

        </form>

        <form method="post" action="{% url 'Q3' %}">
            {% csrf_token %}

            <button type="submit", name="Q3", value="Q3">Q3</button>

        </form>

        <form method="post" target="_blank" action="{% url 'home' %}">
            {% csrf_token %}
                <h6>
                {% for item in list_arr %}
                    <button type="submit", name="map", value="map{{item}}">{{item}}</button><br>
                {% endfor %}
                <!-- <input type="checkbox", value="clicked", name="{{item}}">  &nbsp {{item}}<br> -->
                </h6>
                <!-- <button type="submit", name="map", value="map">Q3</button> -->
        </form>
        <h5>marqueur rouge : gratuit</h5>
        </p>

        {% if graph %}
            <img src="data:image/png;base64, {{graph|safe}}">
        {% endif %}
        {% if table %}
        <img src="data:image/png;base64, {{table|safe}}">
        {% endif %}
    </h3>
    </p>
   
{% endblock %}