/* Styles généraux */
body {
    background-image: url('/static/Image/background4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f2f2f2;
    font-size:5vw;
    text-align: center;
    text-decoration: underline;
    margin: 2vw 0;
    font-family: Georgia, serif;
    text-shadow: 0.5vw 0.5vw 0.5vw black;
}


.bloc {
    /* display: inline-block; */
    width: 30vw;
    height: 5vw;
    margin: 2vw;
    padding: 1vw;
    background-color: #f2f2f2;
    border: black solid 0.1vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.3);
    transition: all 0.5s;

    
}

.bloc span {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
}


.bloc_graph{
    width: 25vw;
    height: 25vw;
    margin: 4vw;
    padding: 1vw;
    background-color: #f2f2f2;
    border: black solid 0.1vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.3);
    transition: all 0.5s;
    text-align: center;

}

.bandeau_question{
    width: 50vw;
    height: 3vw;
    margin: 1vw auto;

    padding: 1vw;
    background-color: #f2f2f2;
    border: black solid 0.1vw;
    border-radius: 1vw;
    box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.3);
    transition: all 0.3s;
    text-align: center;
    opacity: 0.8;
    

}

.label_bandeau{
    font-size: 2vw;
    text-align: center;
}

.label_graph{
    font-size: 1vw;
    font-weight: bold;
}

.container2{ 
    display: flex;
    justify-content: center;
    
}

.nav_button{
    display: block;
    text-align: center;
    
}


.nav_button button{
    height: 5vw;
    width: 5vw;
    border-radius: 5vw;
    opacity: 0.6;
    margin: 1vw;
    cursor: pointer;
    font-weight: bold;
    
}

.nav_button button:hover{
    background-color: #9FFFBD;
    font-weight: bold;
    font-size: 0.8vw;
}

.nav_button button:focus{
    background-color: #05F254;
}

.button_saison{
    width: 6vw;
    font-style: italic;
    border-radius: 0.3vw;
    margin: 1vw;
    font-weight: bold;
    cursor: pointer;
}


.button_saison:hover {
    background-color: #9FFFBD;
  }
  
.button_saison:focus{
    background-color: #05F254;
    font-size: 0.8vw;
  }

a {
    text-decoration: none;
    color: black;
  }


.container_logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
.logo{
    height: 6vw;
    width: 6vw;
    background-color: aliceblue;
    border-radius: 1vw;
    box-shadow: 2px 2px 2px #888888;
    margin: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    border-radius: 1vw;
}



.container :hover {
    background-color: #d1f2eb;
    transform: scale(1.09);
    cursor: pointer;
}


