<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
    <title>Que faire à Paris ?</title>
</head>

<body>
<div class="container_logo">
    <div class="logo">
        <img src="/static/images/Logo_mairie_Paris.png">
    </div>
    <div class="logo">
        <img src="/static/images/Logo_GRETA.png">
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>