{% extends 'generic.html' %}
{% load static %}
{% block content %}
<h1>QUE FAIRE À <br> P<img src="/static/images/Tour_eiffel.png" alt="Tour Eiffel" style="transform: translateY(1vw);"/>RIS ?</h1>
<div class="container">
    <a href="{% url 'question1' %}">
        <div class="bloc">
            <span>Évènements payants / gratuits par arrondissment </span>
        </div>
    </a>
    <a href="{% url 'question2' %}">>
        <div class="bloc">
            <span>Type d'événement</span>
        </div>
    </a>
    <a href="{% url 'question3' %}">>
        <div class="bloc">
            <span>Par saison</span>
        </div>
    </a>
</div>
{% endblock %}