{% extends 'generic.html' %}
{% load static %}
{% block content %}

<h1>QUE FAIRE À P<img src="/static/images/Tour_eiffel.png" alt="Tour Eiffel" style="transform: translateY(1vw);"/>RIS ?</h1>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="container">
        

        <a href="{% url 'question1' %}" class="bloc">
            <span>Évènements payants / gratuits par arrondissment </span>
        </a>



        <a href="{% url 'question2' %}" class="bloc">
            <span>Type d'événement</span>
        </a>
    
    
    </div>

    

    <div class="container">


        <a href="{% url 'question3' %}" class="bloc">
            <span>Par saison</span>
        </a>



        <a href="{% url 'map' %}" class="bloc">
            <span>Map évènements à Paris</span>
        </a>
        
    </div>
</div>



<div class="container_logo">
    <div class="g1">
        <p style="font-weight: bold;">A propos de ce projet</p>

           <p> La ville de Paris regorge d’une multitude d’activités à faire pour se divertir. <br> Malgré cette diversité, il n’est souvent pas évident de trouver quoi faire car difficile de s’y retrouver.<br>

            Nous souhaitons répondre à trois questions : <br>
            -          Définir les arrondissements où il y a le plus ou le plus moins d'événements payants et gratuits <br>
            -          Présenter les différents types d'événements payants et gratuits <br>
            -          Afficher les événements payants et gratuits à faire en fonction de la saison
             </p>
</div>

<div class="g2">
        
    <div class="pic-ctn">
        <img src="/static/images/Paris1.jpg" alt="" class="pic">
        <img src="/static/images/Paris2.jpg" alt="" class="pic">
        <img src="/static/images/Paris3.jpg" alt="" class="pic">
        <img src="/static/images/Paris4.jpg" alt="" class="pic">
        <img src="/static/images/Paris5.jpg" alt="" class="pic">
      </div>
</div>


<div class="g3">
    <p style="font-weight: bold;">Notre client</p>

       <p> GRETA YVELINES <br> 
        Gilles Veronie<br>
        </p>
</div>


<div class="g4">
    <p style="font-weight: bold;">TASKS</p>

       <p> Extraction et nettoyage <br> 
        des données <br> 
        Cartographie<br>
        Exploitation des<br>
        données<br>
        Front (Django)
        </p>
</div>


<div class="g5">
    <p style="font-weight: bold;">Membres de l'équipe</p>

    <p> Cornelia Houndjrebo :  Développeur Fullstack  <br>
        Benjamin Masset : Chef de Projet / Développeur Fullstack  <br>
        Daouda Sagna : Développeur Front-End  <br>
        Natalia Sviattseva : Développeur Fullstack  <br>
        Katsuji Usui : Développeur Back-End  <br>
      
     </p>
</div>


<div class="g6">
    <img src="/static/images/Logo_mairie_Paris.png" alt="Image 1" >
    <img src="/static/images/Logo_GRETA.png"      alt="Image 2" >
</div>

</div>

{% endblock %}