<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Que faire à Paris ?</title>
  </head>

  <body>
    <div class="container_logo">

      <div class="logo">
        <img src="Logo_mairie_Paris.png">
      </div>
        

      <div class="logo">
        <img src="Logo_GRETA.png">
      </div>

    </div>

    <div class="nav_button">
      <a href="Home.html"><button>Accueil</button></a>
      <a href="Question1.html"><button>Question 1</button></a>
      <a href="Question2.html"><button>Question 2</button></a>
      <a href="Question3.html"><button>Question 3</button></a>
    </div>

    <div class="bandeau_question">
      <label class="label_bandeau"> Évènements payants et gratuits par arrondissement</label>

    </div>
    

    <div class="container2">

      <div class="bloc_graph">
        <label class="label_graph"> Graphique :</label> 
        <hr>
        
      </div>

      <div class="bloc_graph">
        <label class="label_graph"> Map :</label> 
        <hr>
        
      </div>

    </div>
  
  

  </body>

</html>