<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Que faire à Paris ?</title>
  </head>

  <body>
    
    <div class="container_logo">

      <div class="logo">
        <img src="Logo_mairie_Paris.png">
      </div>
        

      <div class="logo">
        <img src="Logo_GRETA.png">
      </div>

    </div>
    
    <h1>QUE FAIRE À <br> P<img src="Tour_eiffel.png" alt="Tour Eiffel" style="transform: translateY(1vw);"/>RIS ?</h1>


    <div class="container">


      <a href="Question1.html">
        <div class="bloc">
          <span>Évènements payants / gratuits par arrondissment </span>
        </div>
      </a>
      
      <a href="Question2.html">
        <div class="bloc">
          <span>Type d'événement</span>

        </div>
      </a>
  
      
      <a href="Question3.html">
        <div class="bloc">
          <span>Par saison</span>

        </div>
      </a>
    </div>
    

  </body>
</html>